* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #faf7f4;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
    background-color: #262626;
    color: #fff;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul, li{
    list-style: none;
    padding: 15px;

}
nav ul, li, a{
    text-decoration: none;
    color: #fff;
}
nav ul, li, a:hover{
    color: #F2937F;
}

#search span{
    font-size: 20px;
    padding-right: 30px;
}

#search input{
    border-radius: 15px;
    padding: 4px;
    margin: 5px;
    border: none;
    text-align: center;
}

#search button{
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#banner {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECD4B6;
    margin-bottom: 20px;
}

#banner img{
    height: 100%;
}

#banner div{
    padding: 40px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

#beauty {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #F2937F;
}

h1{
    text-transform: uppercase;
    font-size: 50px;
    color: #F28705;

}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding-top: 20px;
    margin-top: 20px;
}

#about { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    background-color: #D97652;
    border-radius: 15px;
    width: 50%;
    margin-top: 50px;
}

#about div{
    padding: 20px;
    margin: 20px;
    color: #fff;
}

#about img{
    height: 400px;
    padding: 20px;
}

#about h2{
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
}

#title-product-section{
    width: 100%;
    background-color: #ECD4B6;
    text-align: center;
    padding: 20px;
    border-radius: 50px;
    color: #F2937F;
    text-transform: uppercase;
}

#products-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 30px;
    padding: 20px;
    margin: 20px;
    width: 80%;
}

.product{
    background-color: #faf7f4;
    width: 40vh;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

.product:hover{
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.553);
    transform: scale(1.1);
    transition: .3s;
}

.product h2{
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
} 

.product button {
    background-color: black;
    color: #fff;
    padding: 16px;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}

.product button:hover {
    background-color: #F2937F;
    border: none;
}

.price {
    font-weight: 600;
}

.description {
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 13px;
}

img{
    height: 150px;
}

#contact {
    background-color: #ECD4B6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#contact form{
    display: flex;
    flex-flow: column;
    width: 300px;
}

#contact form header{
    background-color: #D97652;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    border-radius: 40px;
}

#contact form label{
    padding: 10px;
}

#contact form input{
    border: none;
    border-radius: 15px;
    padding: 10px;
}

#contact form button{
    padding: 6px;
    margin: 10px;
    background-color: #262626;
    color: #fff;
    border-radius: 15px;
    border: none;
    width: 100px;
    align-self: flex-end;
    cursor: pointer;
}

#contact form button:hover{
    background-color: #F2937F;
    border: none;
}

#contact form textarea {
    height: 100px;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    border: none;
}

footer {
    background-color: #262626;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}

#icons-contact i{
    padding: 8px;
    margin: 5px;
    background-color: #fff;
    color: #262626;
    border-radius: 50%;
    cursor: pointer;
}

#icons-contact i:hover{
    background-color: #F2937F;
    color: #fff;
}


@media (max-width: 570px) {
    #banner {
        width: 100%;
        height: 200px;
    }

    #img-banner {
        display: none;
    }

    #beauty {
        font-size: 13px;
    }
    
    h1{
        font-size: 40px;
    }

    nav{
        flex-flow: column;
        padding-top: 20px;
    }

 
    #about{
        flex-flow: column;
        width: 400px;
    }

    #about img{
        width: 400px;
    }
}